input[type="time"]::-webkit-calendar-picker-indicator {
    background: none;
    display: none;
}

// Подчеркивание текста
.text-underline {
    display: inline-block;
    border-bottom: 1px dashed;
    padding-bottom: 2px;

    &:hover{
        cursor: pointer;
    }
}

// Класс изменения иконки курсора
.hover {
    &:hover{
        cursor: pointer;
    }
}

// Поправка для отсупа индикатора в апппенд слоте
.v-input__append-inner > .color-indicator {
    margin-top: -4px;
}

.color-indicator {
    cursor: pointer;
    height: 30px;
    z-index: 1;
    width: 30px;
    border-radius: 4px;
}

.v-scroll {
    overflow-x: scroll;
}

.v-list-horizontal {
    display: inline-flex;

    .v-list-item {
        margin-right: 20px;
    }
}

.v-list {

    .v-list-item--active {
        border-right: 3px solid #7595ff;
    }
}

.bad-chip {
    padding: 5px !important;
    right: -12px;
    top: -3px;
    color: #000 !important;
    background-color: #e9e6ee;
    border: 1px solid rgb(213, 213, 217);
}
